@import "reset";
//sass --watch scss/style.scss:css/style.css

div{
    background-color: pink;

   h1{font-size: 2rem;
 }
}

.box1{background-color: rgb(0, 235, 252);
    h2 {font-size: 3rem;

    }
}
